footer {
  background-color: #0dc277;
  color: aliceblue;
  text-align: center;
}
.navbar-brand {
  color: #ffffff;
}
.nav-link {
  color: rgb(255, 240, 240);
}
.navbar-nav {
  text-align: center;
}

ul {
  list-style: none;
}

li:hover {
  color: black;
}
