.navbar {
  background-color: #0dc277;
  color: aliceblue;
}
.navbar-brand {
  color: #ffffff;
}
.nav-link {
  color: rgb(255, 240, 240);
  text-decoration: underline
  text-decoration-color: blue;
}

