main {
  background-image: linear-gradient(#fff, rgba(6, 155, 105, 0.438));
}

p {
  text-align: left;
}

h2 {
  text-decoration: underline;
  text-decoration-color: sandybrown;
}
h3 {
  text-decoration: underline;
  text-decoration-color: sandybrown;
}
h4 {
  text-decoration: underline;
  text-decoration-color: sandybrown;
}

.self-pic {
  display: inline;
}
